In [1]:
import requests
from requests import get
from bs4 import BeautifulSoup
from IPython.core.display import display, HTML
import pandas as pd
import numpy as np
import re
import dateutil.parser
from datetime import datetime,date

In [2]:
from time import sleep
from random import randint

In [3]:
#pulling in data tables of every franchise

urls_1 = 'https://www.boxofficemojo.com/franchise/fr4148662021/?ref_=bo_frs_table_1'
urls_2 = 'https://www.boxofficemojo.com/franchise/fr3125251845/?ref_=bo_frs_table_2'
urls_3 = 'https://www.boxofficemojo.com/franchise/fr1715965701/?ref_=bo_frs_table_3'
urls_4 = 'https://www.boxofficemojo.com/franchise/fr558337797/?ref_=bo_frs_table_4'
urls_5 = 'https://www.boxofficemojo.com/franchise/fr3662122757/?ref_=bo_frs_table_5'
urls_6 = 'https://www.boxofficemojo.com/franchise/fr3712454405/?ref_=bo_frs_table_6'
urls_7 = 'https://www.boxofficemojo.com/franchise/fr2286391045/?ref_=bo_frs_table_7'
#franchise 8 seems to be a repeat
urls_9 = 'https://www.boxofficemojo.com/franchise/fr340233989/?ref_=bo_frs_table_9'
urls_10 = 'https://www.boxofficemojo.com/franchise/fr2605158149/?ref_=bo_frs_table_10'
urls_11 = 'https://www.boxofficemojo.com/franchise/fr2571603717/?ref_=bo_frs_table_11'
urls_12 = 'https://www.boxofficemojo.com/franchise/fr793218821/?ref_=bo_frs_table_12'
#13 is a repeat
urls_14 = 'https://www.boxofficemojo.com/franchise/fr3628568325/?ref_=bo_frs_table_14'
urls_15 = 'https://www.boxofficemojo.com/franchise/fr3863449349/?ref_=bo_frs_table_15'
urls_16 = 'https://www.boxofficemojo.com/franchise/fr3494350597/?ref_=bo_frs_table_16'
urls_17 = 'https://www.boxofficemojo.com/franchise/fr239570693/?ref_=bo_frs_table_17'
urls_18 = 'https://www.boxofficemojo.com/franchise/fr3746008837/?ref_=bo_frs_table_18'
urls_19 = 'https://www.boxofficemojo.com/franchise/fr2806484741/?ref_=bo_frs_table_19'
urls_20 = 'https://www.boxofficemojo.com/franchise/fr3880226565/?ref_=bo_frs_table_20'
urls_21 = 'https://www.boxofficemojo.com/franchise/fr3796340485/?ref_=bo_frs_table_21'
urls_22 = 'https://www.boxofficemojo.com/franchise/fr256347909/?ref_=bo_frs_table_22'
urls_23 = 'https://www.boxofficemojo.com/franchise/fr306679557/?ref_=bo_frs_table_23'
urls_24 = 'https://www.boxofficemojo.com/franchise/fr3678899973/?ref_=bo_frs_table_24'
urls_25 = 'https://www.boxofficemojo.com/franchise/fr2756153093/?ref_=bo_frs_table_25'
urls_26 = 'https://www.boxofficemojo.com/franchise/fr2689044229/?ref_=bo_frs_table_26'
#27 is a repeat
urls_28 = 'https://www.boxofficemojo.com/franchise/fr3209137925/?ref_=bo_frs_table_28'
urls_29 = 'https://www.boxofficemojo.com/franchise/fr2487652101/?ref_=bo_frs_table_29'
urls_30 = 'https://www.boxofficemojo.com/franchise/fr2068287237/?ref_=bo_frs_table_30'
urls_31 = 'https://www.boxofficemojo.com/franchise/fr1850183429/?ref_=bo_frs_table_31'
#32 is a repeat
urls_33 = 'https://www.boxofficemojo.com/franchise/fr2386988805/?ref_=bo_frs_table_33'
urls_34 = 'https://www.boxofficemojo.com/franchise/fr491228933/?ref_=bo_frs_table_34'
urls_35 = 'https://www.boxofficemojo.com/franchise/fr3561459461/?ref_=bo_frs_table_35'
urls_36 = 'https://www.boxofficemojo.com/franchise/fr2890370821/?ref_=bo_frs_table_36'
urls_37 = 'https://www.boxofficemojo.com/franchise/fr4014444293/?ref_=bo_frs_table_37'
urls_38 = 'https://www.boxofficemojo.com/franchise/fr2840039173/?ref_=bo_frs_table_38'
#39 is unnecessary
#40 is a repeat
#41 is a repeat
urls_42 = 'https://www.boxofficemojo.com/franchise/fr3846672133/?ref_=bo_frs_table_42'
#43 is a repeat
urls_44 = 'https://www.boxofficemojo.com/franchise/fr1682411269/?ref_=bo_frs_table_44'
urls_45 = 'https://www.boxofficemojo.com/franchise/fr4282879749/?ref_=bo_frs_table_45'
urls_46 = 'https://www.boxofficemojo.com/franchise/fr3175583493/?ref_=bo_frs_table_46'
urls_47 = 'https://www.boxofficemojo.com/franchise/fr3829894917/?ref_=bo_frs_table_47'
urls_48 = 'https://www.boxofficemojo.com/franchise/fr4081553157/?ref_=bo_frs_table_48'
urls_49 = 'https://www.boxofficemojo.com/franchise/fr608669445/?ref_=bo_frs_table_49'
urls_50 = 'https://www.boxofficemojo.com/franchise/fr508006149/?ref_=bo_frs_table_50'
urls_51 = 'https://www.boxofficemojo.com/franchise/fr4249325317/?ref_=bo_frs_table_51'
urls_52 = 'https://www.boxofficemojo.com/franchise/fr2403831557/?ref_=bo_frs_table_52'
urls_53 = 'https://www.boxofficemojo.com/franchise/fr3142029061/?ref_=bo_frs_table_53'
urls_54 = 'https://www.boxofficemojo.com/franchise/fr323456773/?ref_=bo_frs_table_54'
urls_55 = 'https://www.boxofficemojo.com/franchise/fr2722598661/?ref_=bo_frs_table_55'
urls_56 = 'https://www.boxofficemojo.com/franchise/fr289902341/?ref_=bo_frs_table_56'
urls_57 = 'https://www.boxofficemojo.com/franchise/fr4115107589/?ref_=bo_frs_table_57'
urls_58 = 'https://www.boxofficemojo.com/franchise/fr3611791109/?ref_=bo_frs_table_58'
urls_59 = 'https://www.boxofficemojo.com/franchise/fr3242692357/?ref_=bo_frs_table_59'
urls_60 = 'https://www.boxofficemojo.com/franchise/fr1078431493/?ref_=bo_frs_table_60'
urls_61 = 'https://www.boxofficemojo.com/franchise/fr222793477/?ref_=bo_frs_table_61'
urls_62 = 'https://www.boxofficemojo.com/franchise/fr3058142981/?ref_=bo_frs_table_62'
urls_63 = 'https://www.boxofficemojo.com/franchise/fr910659333/?ref_=bo_frs_table_63'
urls_64 = 'https://www.boxofficemojo.com/franchise/fr138907397/?ref_=bo_frs_table_64'
urls_65 = 'https://www.boxofficemojo.com/franchise/fr1665634053/?ref_=bo_frs_table_65'
urls_66 = 'https://www.boxofficemojo.com/franchise/fr625446661/?ref_=bo_frs_table_66'
urls_67 = 'https://www.boxofficemojo.com/franchise/fr3964112645/?ref_=bo_frs_table_67'
urls_68 = 'https://www.boxofficemojo.com/franchise/fr843550469/?ref_=bo_frs_table_68'
urls_69 = 'https://www.boxofficemojo.com/franchise/fr994545413/?ref_=bo_frs_table_69'
urls_70 = 'https://www.boxofficemojo.com/franchise/fr206016261/?ref_=bo_frs_table_70'
urls_71 = 'https://www.boxofficemojo.com/franchise/fr3527905029/?ref_=bo_frs_table_71'
urls_72 = 'https://www.boxofficemojo.com/franchise/fr2269613829/?ref_=bo_frs_table_72'
urls_73 = 'https://www.boxofficemojo.com/franchise/fr3091697413/?ref_=bo_frs_table_73'
urls_74 = 'https://www.boxofficemojo.com/franchise/fr2588380933/?ref_=bo_frs_table_74'
urls_75 = 'https://www.boxofficemojo.com/franchise/fr2538049285/?ref_=bo_frs_table_75'
urls_76 = 'https://www.boxofficemojo.com/franchise/fr759664389/?ref_=bo_frs_table_76'
urls_77 = 'https://www.boxofficemojo.com/franchise/fr575115013/?ref_=bo_frs_table_77'
urls_78 = 'https://www.boxofficemojo.com/franchise/fr3645345541/?ref_=bo_frs_table_78'
urls_79 = 'https://www.boxofficemojo.com/franchise/fr2370277125/?ref_=bo_frs_table_79'
urls_80 = 'https://www.boxofficemojo.com/franchise/fr2655489797/?ref_=bo_frs_table_80'
urls_81 = 'https://www.boxofficemojo.com/franchise/fr3192360709/?ref_=bo_frs_table_81'
urls_82 = 'https://www.boxofficemojo.com/franchise/fr860327685/?ref_=bo_frs_table_82'
urls_83 = 'https://www.boxofficemojo.com/franchise/fr3108474629/?ref_=bo_frs_table_83'
urls_84 = 'https://www.boxofficemojo.com/franchise/fr2521272069/?ref_=bo_frs_table_84'
urls_85 = 'https://www.boxofficemojo.com/franchise/fr2672267013/?ref_=bo_frs_table_85'
urls_86 = 'https://www.boxofficemojo.com/franchise/fr2319945477/?ref_=bo_frs_table_86'
urls_87 = 'https://www.boxofficemojo.com/franchise/fr1866960645/?ref_=bo_frs_table_87'
urls_88 = 'https://www.boxofficemojo.com/franchise/fr692555525/?ref_=bo_frs_table_88'
urls_89 = 'https://www.boxofficemojo.com/franchise/fr1833406213/?ref_=bo_frs_table_89'
urls_90 = 'https://www.boxofficemojo.com/franchise/fr3074920197/?ref_=bo_frs_table_90'
urls_91 = 'https://www.boxofficemojo.com/franchise/fr2554826501/?ref_=bo_frs_table_91'
urls_92 = 'https://www.boxofficemojo.com/franchise/fr4232548101/?ref_=bo_frs_table_92'
urls_93 = 'https://www.boxofficemojo.com/franchise/fr2085064453/?ref_=bo_frs_table_93'
urls_94 = 'https://www.boxofficemojo.com/franchise/fr1950846725/?ref_=bo_frs_table_94'
urls_95 = 'https://www.boxofficemojo.com/franchise/fr541560581/?ref_=bo_frs_table_95'
urls_96 = 'https://www.boxofficemojo.com/franchise/fr2319879941/?ref_=bo_frs_table_96'
urls_97 = 'https://www.boxofficemojo.com/franchise/fr1883737861/?ref_=bo_frs_table_97'
urls_98 = 'https://www.boxofficemojo.com/franchise/fr105352965/?ref_=bo_frs_table_98'
urls_99 = 'https://www.boxofficemojo.com/franchise/fr2152173317/?ref_=bo_frs_table_99'
urls_100 = 'https://www.boxofficemojo.com/franchise/fr390565637/?ref_=bo_frs_table_100'
urls_101 = 'https://www.boxofficemojo.com/franchise/fr4689669/?ref_=bo_frs_table_101'
urls_102 = 'https://www.boxofficemojo.com/franchise/fr2923925253/?ref_=bo_frs_table_102'
urls_103 = 'https://www.boxofficemojo.com/franchise/fr3997667077/?ref_=bo_frs_table_103'
urls_104 = 'https://www.boxofficemojo.com/franchise/fr3813117701/?ref_=bo_frs_table_104'
urls_105 = 'https://www.boxofficemojo.com/franchise/fr1900515077/?ref_=bo_frs_table_105'
urls_106 = 'https://www.boxofficemojo.com/franchise/fr726109957/?ref_=bo_frs_table_106'
urls_107 = 'https://www.boxofficemojo.com/franchise/fr2705821445/?ref_=bo_frs_table_107'
urls_108 = 'https://www.boxofficemojo.com/franchise/fr38244101/?ref_=bo_frs_table_108'
urls_109 = 'https://www.boxofficemojo.com/franchise/fr1917292293/?ref_=bo_frs_table_109'
urls_110 = 'https://www.boxofficemojo.com/franchise/fr742887173/?ref_=bo_frs_table_110'
urls_111 = 'https://www.boxofficemojo.com/franchise/fr2420608773/?ref_=bo_frs_table_111'
urls_112 = 'https://www.boxofficemojo.com/franchise/fr3158806277/?ref_=bo_frs_table_112'
urls_113 = 'https://www.boxofficemojo.com/franchise/fr944213765/?ref_=bo_frs_table_113'
#114 is a repeat
urls_115 = 'https://www.boxofficemojo.com/franchise/fr2185727749/?ref_=bo_frs_table_115'
urls_116 = 'https://www.boxofficemojo.com/franchise/fr2789707525/?ref_=bo_frs_table_116'
urls_117 = 'https://www.boxofficemojo.com/franchise/fr1397198597/?ref_=bo_frs_table_117'
urls_118 = 'https://www.boxofficemojo.com/franchise/fr1783074565/?ref_=bo_frs_table_118'
urls_119 = 'https://www.boxofficemojo.com/franchise/fr3225915141/?ref_=bo_frs_table_119'
urls_120 = 'https://www.boxofficemojo.com/franchise/fr3024588549/?ref_=bo_frs_table_120'
urls_121 = 'https://www.boxofficemojo.com/franchise/fr1313312517/?ref_=bo_frs_table_121'
urls_122 = 'https://www.boxofficemojo.com/franchise/fr1111985925/?ref_=bo_frs_table_122'
urls_123 = 'https://www.boxofficemojo.com/franchise/fr1464307461/?ref_=bo_frs_table_123'
urls_124 = 'https://www.boxofficemojo.com/franchise/fr1095208709/?ref_=bo_frs_table_124'
urls_125 = 'https://www.boxofficemojo.com/franchise/fr2907148037/?ref_=bo_frs_table_125'
urls_126 = 'https://www.boxofficemojo.com/franchise/fr424120069/?ref_=bo_frs_table_126'
urls_127 = 'https://www.boxofficemojo.com/franchise/fr2269548293/?ref_=bo_frs_table_127'
urls_128 = 'https://www.boxofficemojo.com/franchise/fr4198993669/?ref_=bo_frs_table_128'
urls_129 = 'https://www.boxofficemojo.com/franchise/fr3007811333/?ref_=bo_frs_table_129'
urls_130 = 'https://www.boxofficemojo.com/franchise/fr1514639109/?ref_=bo_frs_table_130'
urls_131 = 'https://www.boxofficemojo.com/franchise/fr2621869829/?ref_=bo_frs_table_131'
urls_132 = 'https://www.boxofficemojo.com/franchise/fr2118618885/?ref_=bo_frs_table_132'
urls_133 = 'https://www.boxofficemojo.com/franchise/fr3578236677/?ref_=bo_frs_table_133'
#134 is unnecessary
urls_135 = 'https://www.boxofficemojo.com/franchise/fr4047998725/?ref_=bo_frs_table_135'
urls_136 = 'https://www.boxofficemojo.com/franchise/fr2403766021/?ref_=bo_frs_table_136'
urls_137 = 'https://www.boxofficemojo.com/franchise/fr3595013893/?ref_=bo_frs_table_137'
urls_138 = 'https://www.boxofficemojo.com/franchise/fr2135396101/?ref_=bo_frs_table_138'
urls_139 = 'https://www.boxofficemojo.com/franchise/fr88575749/?ref_=bo_frs_table_139'
urls_140 = 'https://www.boxofficemojo.com/franchise/fr2101841669/?ref_=bo_frs_table_140'
urls_141 = 'https://www.boxofficemojo.com/franchise/fr1799851781/?ref_=bo_frs_table_141'
urls_142 = 'https://www.boxofficemojo.com/franchise/fr3930558213/?ref_=bo_frs_table_142'
urls_143 = 'https://www.boxofficemojo.com/franchise/fr2168950533/?ref_=bo_frs_table_143'
urls_144 = 'https://www.boxofficemojo.com/franchise/fr2454097669/?ref_=bo_frs_table_144'
urls_145 = 'https://www.boxofficemojo.com/franchise/fr1564970757/?ref_=bo_frs_table_145'
urls_146 = 'https://www.boxofficemojo.com/franchise/fr373788421/?ref_=bo_frs_table_146'
urls_147 = 'https://www.boxofficemojo.com/franchise/fr71798533/?ref_=bo_frs_table_147'
urls_148 = 'https://www.boxofficemojo.com/franchise/fr2991034117/?ref_=bo_frs_table_148'
urls_149 = 'https://www.boxofficemojo.com/franchise/fr659001093/?ref_=bo_frs_table_149'
urls_150 = 'https://www.boxofficemojo.com/franchise/fr960990981/?ref_=bo_frs_table_150'
urls_151 = 'https://www.boxofficemojo.com/franchise/fr2420543237/?ref_=bo_frs_table_151'
urls_152 = 'https://www.boxofficemojo.com/franchise/fr3695677189/?ref_=bo_frs_table_152'
urls_153 = 'https://www.boxofficemojo.com/franchise/fr2672201477/?ref_=bo_frs_table_153'
urls_154 = 'https://www.boxofficemojo.com/franchise/fr642223877/?ref_=bo_frs_table_154'
urls_155 = 'https://www.boxofficemojo.com/franchise/fr2219282181/?ref_=bo_frs_table_155'
urls_156 = 'https://www.boxofficemojo.com/franchise/fr155684613/?ref_=bo_frs_table_156'
urls_157 = 'https://www.boxofficemojo.com/franchise/fr1145540357/?ref_=bo_frs_table_157'
urls_158 = 'https://www.boxofficemojo.com/franchise/fr4266102533/?ref_=bo_frs_table_158'
urls_159 = 'https://www.boxofficemojo.com/franchise/fr2655424261/?ref_=bo_frs_table_159'
urls_160 = 'https://www.boxofficemojo.com/franchise/fr2504494853/?ref_=bo_frs_table_160'
urls_161 = 'https://www.boxofficemojo.com/franchise/fr1162317573/?ref_=bo_frs_table_161'
urls_162 = 'https://www.boxofficemojo.com/franchise/fr2957479685/?ref_=bo_frs_table_162'
urls_163 = 'https://www.boxofficemojo.com/franchise/fr2974256901/?ref_=bo_frs_table_163'
urls_164 = 'https://www.boxofficemojo.com/franchise/fr3897003781/?ref_=bo_frs_table_164'
urls_165 = 'https://www.boxofficemojo.com/franchise/fr675778309/?ref_=bo_frs_table_165'
urls_166 = 'https://www.boxofficemojo.com/franchise/fr1044877061/?ref_=bo_frs_table_166'
urls_167 = 'https://www.boxofficemojo.com/franchise/fr1531416325/?ref_=bo_frs_table_167'
urls_168 = 'https://www.boxofficemojo.com/franchise/fr2252771077/?ref_=bo_frs_table_168'
urls_169 = 'https://www.boxofficemojo.com/franchise/fr3729231621/?ref_=bo_frs_table_169'
urls_170 = 'https://www.boxofficemojo.com/franchise/fr1447530245/?ref_=bo_frs_table_170'
urls_171 = 'https://www.boxofficemojo.com/franchise/fr2353434373/?ref_=bo_frs_table_171'
urls_172 = 'https://www.boxofficemojo.com/franchise/fr1497861893/?ref_=bo_frs_table_172'
urls_173 = 'https://www.boxofficemojo.com/franchise/fr2638712581/?ref_=bo_frs_table_173'
urls_174 = 'https://www.boxofficemojo.com/franchise/fr2772930309/?ref_=bo_frs_table_174'
urls_175 = 'https://www.boxofficemojo.com/franchise/fr3460796165/?ref_=bo_frs_table_175'
urls_176 = 'https://www.boxofficemojo.com/franchise/fr2487717637/?ref_=bo_frs_table_176'
urls_177 = 'https://www.boxofficemojo.com/franchise/fr591892229/?ref_=bo_frs_table_177'
urls_178 = 'https://www.boxofficemojo.com/franchise/fr2235993861/?ref_=bo_frs_table_178'
urls_179 = 'https://www.boxofficemojo.com/franchise/fr4098330373/?ref_=bo_frs_table_179'
urls_180 = 'https://www.boxofficemojo.com/franchise/fr1028099845/?ref_=bo_frs_table_180'
urls_181 = 'https://www.boxofficemojo.com/franchise/fr1380421381/?ref_=bo_frs_table_181'
urls_182 = 'https://www.boxofficemojo.com/franchise/fr2219216645/?ref_=bo_frs_table_182'
urls_183 = 'https://www.boxofficemojo.com/franchise/fr2856816389/?ref_=bo_frs_table_183'
urls_184 = 'https://www.boxofficemojo.com/franchise/fr2353499909/?ref_=bo_frs_table_184'
urls_185 = 'https://www.boxofficemojo.com/franchise/fr3427241733/?ref_=bo_frs_table_185'
urls_186 = 'https://www.boxofficemojo.com/franchise/fr3041365765/?ref_=bo_frs_table_186'
urls_187 = 'https://www.boxofficemojo.com/franchise/fr2940702469/?ref_=bo_frs_table_187'
urls_188 = 'https://www.boxofficemojo.com/franchise/fr1430753029/?ref_=bo_frs_table_188'
urls_189 = 'https://www.boxofficemojo.com/franchise/fr4064775941/?ref_=bo_frs_table_189'
urls_190 = 'https://www.boxofficemojo.com/franchise/fr1934069509/?ref_=bo_frs_table_190'
urls_191 = 'https://www.boxofficemojo.com/franchise/fr2370211589/?ref_=bo_frs_table_191'
urls_192 = 'https://www.boxofficemojo.com/franchise/fr2252836613/?ref_=bo_frs_table_192'
urls_193 = 'https://www.boxofficemojo.com/franchise/fr1766297349/?ref_=bo_frs_table_193'
urls_194 = 'https://www.boxofficemojo.com/franchise/fr1061654277/?ref_=bo_frs_table_194'
urls_195 = 'https://www.boxofficemojo.com/franchise/fr2286325509/?ref_=bo_frs_table_195'
urls_196 = 'https://www.boxofficemojo.com/franchise/fr1699188485/?ref_=bo_frs_table_196'
urls_197 = 'https://www.boxofficemojo.com/franchise/fr2303102725/?ref_=bo_frs_table_197'
urls_198 = 'https://www.boxofficemojo.com/franchise/fr1598525189/?ref_=bo_frs_table_198'
urls_199 = 'https://www.boxofficemojo.com/franchise/fr4215770885/?ref_=bo_frs_table_199'
#200 is a repeat
urls_201 = 'https://www.boxofficemojo.com/franchise/fr4031221509/?ref_=bo_frs_table_201'
urls_202 = 'https://www.boxofficemojo.com/franchise/fr1011322629/?ref_=bo_frs_table_202'
urls_203 = 'https://www.boxofficemojo.com/franchise/fr273125125/?ref_=bo_frs_table_203'
urls_204 = 'https://www.boxofficemojo.com/franchise/fr927436549/?ref_=bo_frs_table_204'
urls_205 = 'https://www.boxofficemojo.com/franchise/fr2470874885/?ref_=bo_frs_table_205'
urls_206 = 'https://www.boxofficemojo.com/franchise/fr2202439429/?ref_=bo_frs_table_206'
urls_207 = 'https://www.boxofficemojo.com/franchise/fr1632079621/?ref_=bo_frs_table_207'
urls_208 = 'https://www.boxofficemojo.com/franchise/fr2470940421/?ref_=bo_frs_table_208'
urls_209 = 'https://www.boxofficemojo.com/franchise/fr3477573381/?ref_=bo_frs_table_209'
urls_210 = 'https://www.boxofficemojo.com/franchise/fr2168884997/?ref_=bo_frs_table_210'
urls_211 = 'https://www.boxofficemojo.com/franchise/fr1984401157/?ref_=bo_frs_table_211'
urls_212 = 'https://www.boxofficemojo.com/franchise/fr3980889861/?ref_=bo_frs_table_212'
urls_213 = 'https://www.boxofficemojo.com/franchise/fr2001178373/?ref_=bo_frs_table_213'
urls_214 = 'https://www.boxofficemojo.com/franchise/fr1179094789/?ref_=bo_frs_table_214'
urls_215 = 'https://www.boxofficemojo.com/franchise/fr2202504965/?ref_=bo_frs_table_215'
urls_216 = 'https://www.boxofficemojo.com/franchise/fr1548193541/?ref_=bo_frs_table_216'
urls_217 = 'https://www.boxofficemojo.com/franchise/fr474451717/?ref_=bo_frs_table_217'
urls_218 = 'https://www.boxofficemojo.com/franchise/fr3947335429/?ref_=bo_frs_table_218'
urls_219 = 'https://www.boxofficemojo.com/franchise/fr2034732805/?ref_=bo_frs_table_219'
urls_220 = 'https://www.boxofficemojo.com/franchise/fr2873593605/?ref_=bo_frs_table_220'
urls_221 = 'https://www.boxofficemojo.com/franchise/fr1330089733/?ref_=bo_frs_table_221'
urls_222 = 'https://www.boxofficemojo.com/franchise/fr2017955589/?ref_=bo_frs_table_222'
urls_223 = 'https://www.boxofficemojo.com/franchise/fr3444018949/?ref_=bo_frs_table_223'
urls_224 = 'https://www.boxofficemojo.com/franchise/fr4165439237/?ref_=bo_frs_table_224'
urls_225 = 'https://www.boxofficemojo.com/franchise/fr3913780997/?ref_=bo_frs_table_225'
urls_226 = 'https://www.boxofficemojo.com/franchise/fr2336722693/?ref_=bo_frs_table_226'
urls_227 = 'https://www.boxofficemojo.com/franchise/fr2588315397/?ref_=bo_frs_table_227'
urls_228 = 'https://www.boxofficemojo.com/franchise/fr2303168261/?ref_=bo_frs_table_228'
urls_229 = 'https://www.boxofficemojo.com/franchise/fr1346866949/?ref_=bo_frs_table_229'
urls_230 = 'https://www.boxofficemojo.com/franchise/fr2504429317/?ref_=bo_frs_table_230'
urls_231 = 'https://www.boxofficemojo.com/franchise/fr1246203653/?ref_=bo_frs_table_231'
urls_232 = 'https://www.boxofficemojo.com/franchise/fr1262980869/?ref_=bo_frs_table_232'
urls_233 = 'https://www.boxofficemojo.com/franchise/fr2454163205/?ref_=bo_frs_table_233'
urls_234 = 'https://www.boxofficemojo.com/franchise/fr2185662213/?ref_=bo_frs_table_234'
urls_235 = 'https://www.boxofficemojo.com/franchise/fr3410464517/?ref_=bo_frs_table_235'
urls_236 = 'https://www.boxofficemojo.com/franchise/fr2537983749/?ref_=bo_frs_table_236'
urls_237 = 'https://www.boxofficemojo.com/franchise/fr1229426437/?ref_=bo_frs_table_237'
urls_238 = 'https://www.boxofficemojo.com/franchise/fr893882117/?ref_=bo_frs_table_238'
urls_239 = 'https://www.boxofficemojo.com/franchise/fr3393687301/?ref_=bo_frs_table_239'
urls_240 = 'https://www.boxofficemojo.com/franchise/fr2051510021/?ref_=bo_frs_table_240'
urls_241 = 'https://www.boxofficemojo.com/franchise/fr2923859717/?ref_=bo_frs_table_241'
urls_242 = 'https://www.boxofficemojo.com/franchise/fr1413975813/?ref_=bo_frs_table_242'
urls_243 = 'https://www.boxofficemojo.com/franchise/fr1615302405/?ref_=bo_frs_table_243'
urls_244 = 'https://www.boxofficemojo.com/franchise/fr776441605/?ref_=bo_frs_table_244'
urls_245 = 'https://www.boxofficemojo.com/franchise/fr2772864773/?ref_=bo_frs_table_245'
urls_246 = 'https://www.boxofficemojo.com/franchise/fr2236059397/?ref_=bo_frs_table_246'
urls_247 = 'https://www.boxofficemojo.com/franchise/fr1363644165/?ref_=bo_frs_table_247'
urls_248 = 'https://www.boxofficemojo.com/franchise/fr2638647045/?ref_=bo_frs_table_248'
urls_249 = 'https://www.boxofficemojo.com/franchise/fr3360132869/?ref_=bo_frs_table_249'
urls_250 = 'https://www.boxofficemojo.com/franchise/fr1481084677/?ref_=bo_frs_table_250'
urls_251 = 'https://www.boxofficemojo.com/franchise/fr1581747973/?ref_=bo_frs_table_251'
urls_252 = 'https://www.boxofficemojo.com/franchise/fr2437320453/?ref_=bo_frs_table_252'
urls_253 = 'https://www.boxofficemojo.com/franchise/fr1212649221/?ref_=bo_frs_table_253'
urls_254 = 'https://www.boxofficemojo.com/franchise/fr2554760965/?ref_=bo_frs_table_254'
urls_255 = 'https://www.boxofficemojo.com/franchise/fr2336657157/?ref_=bo_frs_table_255'
urls_256 = 'https://www.boxofficemojo.com/franchise/fr3376910085/?ref_=bo_frs_table_256'
urls_257 = 'https://www.boxofficemojo.com/franchise/fr1296535301/?ref_=bo_frs_table_257'
urls_258 = 'https://www.boxofficemojo.com/franchise/fr2621935365/?ref_=bo_frs_table_258'
urls_259 = 'https://www.boxofficemojo.com/franchise/fr2521206533/?ref_=bo_frs_table_259'
urls_260 = 'https://www.boxofficemojo.com/franchise/fr172461829/?ref_=bo_frs_table_260'
urls_261 = 'https://www.boxofficemojo.com/franchise/fr3326578437/?ref_=bo_frs_table_261'
urls_262 = 'https://www.boxofficemojo.com/franchise/fr4182216453/?ref_=bo_frs_table_262'
urls_263 = 'https://www.boxofficemojo.com/franchise/fr2739375877/?ref_=bo_frs_table_263'
urls_264 = 'https://www.boxofficemojo.com/franchise/fr1967623941/?ref_=bo_frs_table_264'
urls_265 = 'https://www.boxofficemojo.com/franchise/fr1749520133/?ref_=bo_frs_table_265'
urls_266 = 'https://www.boxofficemojo.com/franchise/fr3343355653/?ref_=bo_frs_table_266'
urls_267 = 'https://www.boxofficemojo.com/franchise/fr2437385989/?ref_=bo_frs_table_267'
urls_268 = 'https://www.boxofficemojo.com/franchise/fr3293024005/?ref_=bo_frs_table_268'
urls_269 = 'https://www.boxofficemojo.com/franchise/fr1816628997/?ref_=bo_frs_table_269'
urls_270 = 'https://www.boxofficemojo.com/franchise/fr3309801221/?ref_=bo_frs_table_270'
urls_271 = 'https://www.boxofficemojo.com/franchise/fr1648856837/?ref_=bo_frs_table_271'
urls_272 = 'https://www.boxofficemojo.com/franchise/fr809996037/?ref_=bo_frs_table_272'
urls_273 = 'https://www.boxofficemojo.com/franchise/fr2823261957/?ref_=bo_frs_table_273'
urls_274 = 'https://www.boxofficemojo.com/franchise/fr3762786053/?ref_=bo_frs_table_274'
urls_275 = 'https://www.boxofficemojo.com/franchise/fr1128763141/?ref_=bo_frs_table_275'
urls_276 = 'https://www.boxofficemojo.com/franchise/fr2152107781/?ref_=bo_frs_table_276'
urls_277 = 'https://www.boxofficemojo.com/franchise/fr189239045/?ref_=bo_frs_table_277'
urls_278 = 'https://www.boxofficemojo.com/franchise/fr2605092613/?ref_=bo_frs_table_278'
urls_279 = 'https://www.boxofficemojo.com/franchise/fr3259469573/?ref_=bo_frs_table_279'
urls_280 = 'https://www.boxofficemojo.com/franchise/fr122130181/?ref_=bo_frs_table_280'
urls_281 = 'https://www.boxofficemojo.com/franchise/fr407342853/?ref_=bo_frs_table_281'
urls_282 = 'https://www.boxofficemojo.com/franchise/fr1195872005/?ref_=bo_frs_table_282'
urls_283 = 'https://www.boxofficemojo.com/franchise/fr3511127813/?ref_=bo_frs_table_283'
urls_284 = 'https://www.boxofficemojo.com/franchise/fr1279758085/?ref_=bo_frs_table_284'
urls_285 = 'https://www.boxofficemojo.com/franchise/fr4131884805/?ref_=bo_frs_table_285'
urls_286 = 'https://www.boxofficemojo.com/franchise/fr709332741/?ref_=bo_frs_table_286'
urls_287 = 'https://www.boxofficemojo.com/franchise/fr3544682245/?ref_=bo_frs_table_287'
urls_288 = 'https://www.boxofficemojo.com/franchise/fr55021317/?ref_=bo_frs_table_288'
urls_289 = 'https://www.boxofficemojo.com/franchise/fr524783365/?ref_=bo_frs_table_289'
franchise_urls = [urls_1, urls_2, urls_3, urls_4, urls_5, urls_6, urls_7, urls_9, 
                  urls_10, urls_11, urls_12, urls_14, urls_15, urls_16, urls_17,
                  urls_18, urls_19, urls_19, urls_20, urls_21, urls_22, urls_23, urls_24,
                  urls_25, urls_26, urls_28, urls_29,
urls_30,
urls_31,
urls_33,
urls_34,
urls_35,
urls_36,
urls_37,
urls_38,
urls_42,
urls_44,
urls_45, 
urls_46, 
urls_47,
urls_48,
urls_49,
urls_50,
urls_51,
urls_52,
urls_53,
urls_54,
urls_55,
urls_56,
urls_57,
urls_58,
urls_59,
urls_60,
urls_61,
urls_62,
urls_63,
urls_64,
urls_65,
urls_66,
urls_67,
urls_68,
urls_69,
urls_70,
urls_71,
urls_72,
urls_73,
urls_74,
urls_75,
urls_76,
urls_77,
urls_78,
urls_79,
urls_80,
urls_81,
urls_82,
urls_83,
urls_84,
urls_85,
urls_86,
urls_87,
urls_88,
urls_89,
urls_90,
urls_91,
urls_92,
urls_93,
urls_94,
urls_95,
urls_96,
urls_97,
urls_98,
urls_99,
urls_100,
urls_101,
urls_102,
urls_103,
urls_104,
urls_105,
urls_106,
urls_107,
urls_108,
urls_109,
urls_110,
urls_111,
urls_112,
urls_113,
urls_115,
urls_116,
urls_117,
urls_118,
urls_119,
urls_120,
urls_121,
urls_122,
urls_123,
urls_124,
urls_125,
urls_126,
urls_127,
urls_128,
urls_129,
urls_130,
urls_131,
urls_132,
urls_133,
urls_135,
urls_136,
urls_137,
urls_138,
urls_139,
urls_140,
urls_141,
urls_142,
urls_143,
urls_144,
urls_145,
urls_146,
urls_147,
urls_148,
urls_149,
urls_150,
urls_151,
urls_152,
urls_153,
urls_154,
urls_155,
urls_156,
urls_157,
urls_158,
urls_159,
urls_160,
urls_161,
urls_162,
urls_163,
urls_164,
urls_165,
urls_166,
urls_167,
urls_168,
urls_169,
urls_170,
urls_171,
urls_172,
urls_173,
urls_174,
urls_175,
urls_176,
urls_177,
urls_178,
urls_179,
urls_180,
urls_181,
urls_182,
urls_183,
urls_184,
urls_185,
urls_186,
urls_187,
urls_188,
urls_189,
urls_190,
urls_191,
urls_192,
urls_193,
urls_194,
urls_195,
urls_196,
urls_197,
urls_198,
urls_199,
urls_201,
urls_202,
urls_203,
urls_204,
urls_205,
urls_206,
urls_207,
urls_208,
urls_209,
urls_210,
urls_211,
urls_212,
urls_213,
urls_214,
urls_215,
urls_216,
urls_217,
urls_218,
urls_219,
urls_220,
urls_221,
urls_222,
urls_223,
urls_224,
urls_225,
urls_226,
urls_227,
urls_228,
urls_229,
urls_230,
urls_231,
urls_232,
urls_233,
urls_234,
urls_235,
urls_236,
urls_237,
urls_238,
urls_239,
urls_240,
urls_241,
urls_242,
urls_243,
urls_244,
urls_245,
urls_246,
urls_247,
urls_248,
urls_249,
urls_250,
urls_251,
urls_252,
urls_253,
urls_254,
urls_255,
urls_256,
urls_257,
urls_258,
urls_259,
urls_260,
urls_268,
urls_269,
urls_270,
urls_271,
urls_272,
urls_273,
urls_274,
urls_275,
urls_276,
urls_277,
urls_278,
urls_279,
urls_280,
urls_281,
urls_282,
urls_283,
urls_284,
urls_285,
urls_286,
urls_287,
urls_288,
urls_289]

In [4]:
bom_urls = {}
for url in franchise_urls:
    response = requests.get(url)
    page = response.text
    soup = BeautifulSoup(page)
    table = soup.find('table')
    rows = [row for row in table.find_all('tr')]
    for row in rows:
        try:
            items = row.find_all('td')
            link = items[1].find('a')
            title, url = link.text, link['href']
            bom_urls[title] = [url]
        except IndexError:
            pass

In [5]:
#bom_urls

In [6]:
def get_movie_value(soup, field_name):
    
    '''Grab a value from Box Office Mojo HTML
    
    Takes a string attribute of a movie on the page and returns the string in
    the next sibling object (the value for that attribute) or None if nothing is found.
    '''
    
    obj = soup.find(text=re.compile(field_name))
    
    if not obj: 
        return None
    
    # this works for most of the values
    next_element = obj.findNext()
    
    if next_element:
        return next_element.text 
    else:
        return None

In [7]:
import dateutil.parser

def money_to_int(moneystring): #gets revenue
    moneystring = moneystring.replace('$', '').replace(',', '')
    return int(moneystring)

def dist_cleaner(dist_name): #gets distributor name
    try:
        distributor = dist_name.split(' ')
        del distributor[:-4:-1]
        distributor = ' '.join(distributor)
        distributor = distributor.strip('See')
        return distributor
    except:
        return None

def runtime_to_minutes(runtimestring): #gets runtime
    runtime = runtimestring.split()
    try:
        minutes = int(runtime[0])*60 + int(runtime[2])
        return minutes
    except:
        return None

def to_date(datestring): #gets date
    date = dateutil.parser.parse(datestring)
    return date

In [8]:
def get_movie_dict(link):
    '''
    From BoxOfficeMojo link stub, request movie html, parse with BeautifulSoup, and
    collect 
        - title 
        - distributor
        - domestic gross
        - runtime 
        - MPAA rating
        - full release date
    # removed    - genre
    Return information as a dictionary.
    '''
    
    base_url = 'https://www.boxofficemojo.com'
    
    #Create full url to scrape
    url = base_url + link
    
    #Request HTML and parse
    response = requests.get(url)
    page = response.text
    soup = BeautifulSoup(page,"lxml")

    
    headers = ['Title', 'Distributor',
               'Runtime', 'Rating', 'Release_Date']
    
    #Get title
    title_string = soup.find('title').text
    title = title_string.split('-')[0].strip()

    #Get distributor
    distributor_string = get_movie_value(soup, 'Distributor')
    distributor = dist_cleaner(distributor_string)
    
    
    #Get runtime
    raw_runtime = get_movie_value(soup,'Running')
    if raw_runtime: 
        runtime = runtime_to_minutes(raw_runtime)
    else:
        runtime = np.nan
    
    #Get rating
    rating = get_movie_value(soup,'MPAA')

    #Get release date - decided to scrap due to late-stageparsing issues 
    #raw_release_date = get_movie_value(soup,'Release Date')
    #if raw_release_date:
     #   release_date = to_date(raw_release_date.split('\n')[0])  
    #else:
     #   release_date = np.nan
        
    #Create movie dictionary and return
    movie_dict = dict(zip(headers, [title,
                                distributor,
                                runtime,
                                rating]))

    return movie_dict

In [9]:
films = pd.DataFrame(bom_urls).T  
films.columns = ['link_stub']

films.head

<bound method NDFrame.head of                                                                        link_stub
Avengers: Endgame                      /release/rl3059975681/?ref_=bo_fr_table_1
Black Panther                          /release/rl222659329/?ref_=bo_fr_table_26
Avengers: Infinity War                 /release/rl3043198465/?ref_=bo_fr_table_3
The Avengers                            /release/rl709199361/?ref_=bo_fr_table_4
Avengers: Age of Ultron                 /release/rl675644929/?ref_=bo_fr_table_5
...                                                                          ...
Evangelion: 2.0 You Can (Not) Advance   /release/rl793806337/?ref_=bo_fr_table_2
Evangelion: 1.0 You Are (Not) Alone     /release/rl542148097/?ref_=bo_fr_table_3
V/H/S                                  /release/rl1350141441/?ref_=bo_fr_table_1
V/H/S/2                                /release/rl1366918657/?ref_=bo_fr_table_2
V/H/S Viral                            /release/rl1383695873/?ref_=bo_fr_table_3

[1008 rows x 1 columns]>

In [10]:
#Runs transposed dataframe through a loop and function get_movie_dict attaching the beginning of the url and grabbing features listed in the function get_movie_dict

film_info_list = []

for link in films.link_stub:
    film_info_list.append(get_movie_dict(link))

In [11]:
film_info = pd.DataFrame(film_info_list)  #convert list of dict to df
film_info.set_index('Title', inplace=True)

bom_df = film_info

In [12]:
bom_df

,Distributor,Runtime,Rating
Title,,,
Avengers: Endgame,Walt Disney Studios Motion Pictures,181.0,PG-13
Black Panther 2020 Re,Walt Disney Pictures,134.0,PG-13
Avengers: Infinity War,Walt Disney Studios Motion Pictures,149.0,PG-13
The Avengers,Walt Disney Studios Motion Pictures,143.0,PG-13
Avengers: Age of Ultron,Walt Disney Studios Motion Pictures,141.0,PG-13
...,...,...,...
Evangelion: 2.0 You Can (Not) Advance,Eleven Arts,112.0,None
Evangelion: 1.0 You Are (Not) Alone,Eleven Arts,98.0,PG-13
V/H/S,Magnolia Pictures,116.0,R
V/H/S/2,Magnolia Pictures,96.0,R
V/H/S Viral,Magnolia Pictures,81.0,R

In [13]:
def read_imdb_url(url):
    response = requests.get(url)
    page=response.text
    soup=BeautifulSoup(page,'lxml')
    return soup

In [14]:
url_list=[] #pulling in data from every movie on imdb, sorted by votes

for i in range(1,3001,50):
    url_list.append('https://www.imdb.com/search/title/?title_type=feature&sort=num_votes,desc&start={}&ref_=adv_prv'.format(i))

In [15]:
genres=[]
for url in url_list:
    genre=read_imdb_url(url).find_all('span',{"class":"genre"})
    for item in [g.get_text() for g in genre]:
        genres.append(str(item).replace('\n','').strip())

In [16]:
gset=['Action','Adventure','Biography','Comedy','Crime','Documentary','Drama','Family','History','Horror',
      'Music','Mystery','Romance','Sport','Thriller','War','Western']
Action,Adventure,Biography,Comedy,Crime,Documentary,Drama,Family,History,Horror,Music,Mystery,Romance,Sport,Thriller,War,Western=([] for i in range(len(gset)))

glist=[Action,Adventure,Biography,Comedy,Crime,Documentary,Drama,Family,History,Horror,Music,Mystery,Romance,Sport,Thriller,War,Western]
for g in genres:
    for c in gset:
        if c in g:
            glist[gset.index(c)].append(1)
        else:
            glist[gset.index(c)].append(0)

In [17]:
titles=[]
for url in url_list:
    d1=read_imdb_url(url).find_all('h3',{"class":"lister-item-header"})
    for h in d1:
        for link in h.find_all('a'):
            titles.append(str(link.get_text()))

In [18]:
imdb_movies=pd.DataFrame({"Title":titles,'Action':Action,'Adventure':Adventure,'Biography':Biography,'Comedy':Comedy,'Crime':Crime,'Documentary':Documentary,'Drama':Drama,'Family':Family,'History':History,'Horror':Horror,'Music':Music,'Mystery':Mystery,'Romance':Romance,'Sport':Sport,'Thriller':Thriller,'War':War,'Western':Western})
imdb_movies=imdb_movies[['Title','Action','Adventure','Biography','Comedy','Crime','Documentary','Drama','Family','History','Horror','Music','Mystery','Romance','Sport','Thriller','War','Western']]

In [19]:
imdb_movies

,Title,Action,Adventure,Biography,Comedy,Crime,Documentary,Drama,Family,History,Horror,Music,Mystery,Romance,Sport,Thriller,War,Western
0,The Shawshank Redemption,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
1,The Dark Knight,1,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0
2,Inception,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,Fight Club,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
4,Pulp Fiction,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,Cold Pursuit,1,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0
2996,The Dead Don't Die,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0
2997,When in Rome,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0
2998,The Chaser,1,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0
2999,365 Days,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0

In [20]:
def read_tn_url(url):
    response = requests.get(url)
    page=response.text
    soup=BeautifulSoup(page,'lxml')
    return soup

In [21]:
url='http://www.the-numbers.com/movie/budgets/all'
titles=[]
budgets=[]
d_grosses=[]

table1=read_tn_url(url).find_all('table')[0]
m_list=table1.find_all('td')[2::6]
budget=table1.find_all('td')[3::6]
d_gross=table1.find_all('td')[4::6]

for m in m_list:
    titles.append(str(m.find('a').get_text()))
for b in budget:
    budgets.append(int(str(b.get_text()).replace('$','').replace(',','')))
for d in d_gross:
    d_grosses.append(int(str(d.get_text()).replace('$','').replace(',','')))

In [22]:
tn1=pd.DataFrame({'Title':titles, 'Budget':budgets, 'Domestic_Gross':d_grosses})

In [23]:
tn1

,Title,Budget,Domestic_Gross
0,Avengers: Endgame,400000000,858373000
1,Pirates of the Caribbean: On Stranger Tides,379000000,241071802
2,Avengers: Age of Ultron,365000000,459005868
3,Star Wars Ep. VII: The Force Awakens,306000000,936662225
4,Avengers: Infinity War,300000000,678815482
...,...,...,...
95,"The Chronicles of Narnia: The Lion, the Witch aâ€¦",180000000,291710957
96,Maleficent,180000000,241407328
97,Fantastic Beasts and Where to Find Them,180000000,234037575
98,WALL-E,180000000,223808164
99,Rush Hour 3,180000000,140125968

In [24]:
url='http://www.the-numbers.com/movie/budgets/all/101'
titles=[]
budgets=[]
d_grosses=[]

table1=read_tn_url(url).find_all('table')[0]
m_list=table1.find_all('td')[2::6]
budget=table1.find_all('td')[3::6]
d_gross=table1.find_all('td')[4::6]

for m in m_list:
    titles.append(str(m.find('a').get_text()))
for b in budget:
    budgets.append(int(str(b.get_text()).replace('$','').replace(',','')))
for d in d_gross:
    d_grosses.append(int(str(d.get_text()).replace('$','').replace(',','')))

In [25]:
tn2=pd.DataFrame({'Title':titles, 'Budget':budgets, 'Domestic_Gross':d_grosses})

In [26]:
tn2

                                          Title     Budget  Domestic_Gross
0                          The Legend of Tarzan  180000000       126643061
1                                          Hugo  180000000        73864507
2   Valerian and the City of a Thousand Planets  180000000        40479370
3                             Jupiter Ascending  179000000        47482519
4                 Mission: ImpossibleÃ¢Â€Â”Fallout  178000000       220159104
..                                          ...        ...             ...
95                       The Matrix Revolutions  150000000       139270910
96                             Ready Player One  150000000       137690172
97                               Chicken Little  150000000       135386665
98                      Mission: Impossible III  150000000       133501348
99                              Angels & Demons  150000000       133375846

[100 rows x 3 columns]

In [27]:
url='http://www.the-numbers.com/movie/budgets/all/201'
titles=[]
budgets=[]
d_grosses=[]

table1=read_tn_url(url).find_all('table')[0]
m_list=table1.find_all('td')[2::6]
budget=table1.find_all('td')[3::6]
d_gross=table1.find_all('td')[4::6]

for m in m_list:
    titles.append(str(m.find('a').get_text()))
for b in budget:
    budgets.append(int(str(b.get_text()).replace('$','').replace(',','')))
for d in d_gross:
    d_grosses.append(int(str(d.get_text()).replace('$','').replace(',','')))

tn3=pd.DataFrame({'Title':titles, 'Budget':budgets, 'Domestic_Gross':d_grosses})

In [28]:
url='http://www.the-numbers.com/movie/budgets/all/301'
titles=[]
budgets=[]
d_grosses=[]

table1=read_tn_url(url).find_all('table')[0]
m_list=table1.find_all('td')[2::6]
budget=table1.find_all('td')[3::6]
d_gross=table1.find_all('td')[4::6]

for m in m_list:
    titles.append(str(m.find('a').get_text()))
for b in budget:
    budgets.append(int(str(b.get_text()).replace('$','').replace(',','')))
for d in d_gross:
    d_grosses.append(int(str(d.get_text()).replace('$','').replace(',','')))

tn4=pd.DataFrame({'Title':titles, 'Budget':budgets, 'Domestic_Gross':d_grosses})

In [29]:
url='http://www.the-numbers.com/movie/budgets/all/401'
titles=[]
budgets=[]
d_grosses=[]

table1=read_tn_url(url).find_all('table')[0]
m_list=table1.find_all('td')[2::6]
budget=table1.find_all('td')[3::6]
d_gross=table1.find_all('td')[4::6]

for m in m_list:
    titles.append(str(m.find('a').get_text()))
for b in budget:
    budgets.append(int(str(b.get_text()).replace('$','').replace(',','')))
for d in d_gross:
    d_grosses.append(int(str(d.get_text()).replace('$','').replace(',','')))

tn5=pd.DataFrame({'Title':titles, 'Budget':budgets, 'Domestic_Gross':d_grosses})

In [30]:
url='http://www.the-numbers.com/movie/budgets/all/501'
titles=[]
budgets=[]
d_grosses=[]

table1=read_tn_url(url).find_all('table')[0]
m_list=table1.find_all('td')[2::6]
budget=table1.find_all('td')[3::6]
d_gross=table1.find_all('td')[4::6]

for m in m_list:
    titles.append(str(m.find('a').get_text()))
for b in budget:
    budgets.append(int(str(b.get_text()).replace('$','').replace(',','')))
for d in d_gross:
    d_grosses.append(int(str(d.get_text()).replace('$','').replace(',','')))

tn6=pd.DataFrame({'Title':titles, 'Budget':budgets, 'Domestic_Gross':d_grosses})

In [31]:
url='http://www.the-numbers.com/movie/budgets/all/601'
titles=[]
budgets=[]
d_grosses=[]

table1=read_tn_url(url).find_all('table')[0]
m_list=table1.find_all('td')[2::6]
budget=table1.find_all('td')[3::6]
d_gross=table1.find_all('td')[4::6]

for m in m_list:
    titles.append(str(m.find('a').get_text()))
for b in budget:
    budgets.append(int(str(b.get_text()).replace('$','').replace(',','')))
for d in d_gross:
    d_grosses.append(int(str(d.get_text()).replace('$','').replace(',','')))

tn7=pd.DataFrame({'Title':titles, 'Budget':budgets, 'Domestic_Gross':d_grosses})

In [32]:
url='http://www.the-numbers.com/movie/budgets/all/701'
titles=[]
budgets=[]
d_grosses=[]

table1=read_tn_url(url).find_all('table')[0]
m_list=table1.find_all('td')[2::6]
budget=table1.find_all('td')[3::6]
d_gross=table1.find_all('td')[4::6]

for m in m_list:
    titles.append(str(m.find('a').get_text()))
for b in budget:
    budgets.append(int(str(b.get_text()).replace('$','').replace(',','')))
for d in d_gross:
    d_grosses.append(int(str(d.get_text()).replace('$','').replace(',','')))

tn8=pd.DataFrame({'Title':titles, 'Budget':budgets, 'Domestic_Gross':d_grosses})

In [33]:
url='http://www.the-numbers.com/movie/budgets/all/801'
titles=[]
budgets=[]
d_grosses=[]

table1=read_tn_url(url).find_all('table')[0]
m_list=table1.find_all('td')[2::6]
budget=table1.find_all('td')[3::6]
d_gross=table1.find_all('td')[4::6]

for m in m_list:
    titles.append(str(m.find('a').get_text()))
for b in budget:
    budgets.append(int(str(b.get_text()).replace('$','').replace(',','')))
for d in d_gross:
    d_grosses.append(int(str(d.get_text()).replace('$','').replace(',','')))

tn9=pd.DataFrame({'Title':titles, 'Budget':budgets, 'Domestic_Gross':d_grosses})

In [34]:
url='http://www.the-numbers.com/movie/budgets/all/901'
titles=[]
budgets=[]
d_grosses=[]

table1=read_tn_url(url).find_all('table')[0]
m_list=table1.find_all('td')[2::6]
budget=table1.find_all('td')[3::6]
d_gross=table1.find_all('td')[4::6]

for m in m_list:
    titles.append(str(m.find('a').get_text()))
for b in budget:
    budgets.append(int(str(b.get_text()).replace('$','').replace(',','')))
for d in d_gross:
    d_grosses.append(int(str(d.get_text()).replace('$','').replace(',','')))

tn10=pd.DataFrame({'Title':titles, 'Budget':budgets, 'Domestic_Gross':d_grosses})

In [35]:
url='http://www.the-numbers.com/movie/budgets/all/1001'
titles=[]
budgets=[]
d_grosses=[]

table1=read_tn_url(url).find_all('table')[0]
m_list=table1.find_all('td')[2::6]
budget=table1.find_all('td')[3::6]
d_gross=table1.find_all('td')[4::6]

for m in m_list:
    titles.append(str(m.find('a').get_text()))
for b in budget:
    budgets.append(int(str(b.get_text()).replace('$','').replace(',','')))
for d in d_gross:
    d_grosses.append(int(str(d.get_text()).replace('$','').replace(',','')))

tn11=pd.DataFrame({'Title':titles, 'Budget':budgets, 'Domestic_Gross':d_grosses})

In [36]:
url='http://www.the-numbers.com/movie/budgets/all/1101'
titles=[]
budgets=[]
d_grosses=[]

table1=read_tn_url(url).find_all('table')[0]
m_list=table1.find_all('td')[2::6]
budget=table1.find_all('td')[3::6]
d_gross=table1.find_all('td')[4::6]

for m in m_list:
    titles.append(str(m.find('a').get_text()))
for b in budget:
    budgets.append(int(str(b.get_text()).replace('$','').replace(',','')))
for d in d_gross:
    d_grosses.append(int(str(d.get_text()).replace('$','').replace(',','')))

tn12=pd.DataFrame({'Title':titles, 'Budget':budgets, 'Domestic_Gross':d_grosses})

In [37]:
url='http://www.the-numbers.com/movie/budgets/all/1201'
titles=[]
budgets=[]
d_grosses=[]

table1=read_tn_url(url).find_all('table')[0]
m_list=table1.find_all('td')[2::6]
budget=table1.find_all('td')[3::6]
d_gross=table1.find_all('td')[4::6]

for m in m_list:
    titles.append(str(m.find('a').get_text()))
for b in budget:
    budgets.append(int(str(b.get_text()).replace('$','').replace(',','')))
for d in d_gross:
    d_grosses.append(int(str(d.get_text()).replace('$','').replace(',','')))

tn13=pd.DataFrame({'Title':titles, 'Budget':budgets, 'Domestic_Gross':d_grosses})

In [38]:
url='http://www.the-numbers.com/movie/budgets/all/1301'
titles=[]
budgets=[]
d_grosses=[]

table1=read_tn_url(url).find_all('table')[0]
m_list=table1.find_all('td')[2::6]
budget=table1.find_all('td')[3::6]
d_gross=table1.find_all('td')[4::6]

for m in m_list:
    titles.append(str(m.find('a').get_text()))
for b in budget:
    budgets.append(int(str(b.get_text()).replace('$','').replace(',','')))
for d in d_gross:
    d_grosses.append(int(str(d.get_text()).replace('$','').replace(',','')))

tn14=pd.DataFrame({'Title':titles, 'Budget':budgets, 'Domestic_Gross':d_grosses})

In [39]:
url='http://www.the-numbers.com/movie/budgets/all/1401'
titles=[]
budgets=[]
d_grosses=[]

table1=read_tn_url(url).find_all('table')[0]
m_list=table1.find_all('td')[2::6]
budget=table1.find_all('td')[3::6]
d_gross=table1.find_all('td')[4::6]

for m in m_list:
    titles.append(str(m.find('a').get_text()))
for b in budget:
    budgets.append(int(str(b.get_text()).replace('$','').replace(',','')))
for d in d_gross:
    d_grosses.append(int(str(d.get_text()).replace('$','').replace(',','')))

tn15=pd.DataFrame({'Title':titles, 'Budget':budgets, 'Domestic_Gross':d_grosses})

In [40]:
url='http://www.the-numbers.com/movie/budgets/all/1501'
titles=[]
budgets=[]
d_grosses=[]

table1=read_tn_url(url).find_all('table')[0]
m_list=table1.find_all('td')[2::6]
budget=table1.find_all('td')[3::6]
d_gross=table1.find_all('td')[4::6]

for m in m_list:
    titles.append(str(m.find('a').get_text()))
for b in budget:
    budgets.append(int(str(b.get_text()).replace('$','').replace(',','')))
for d in d_gross:
    d_grosses.append(int(str(d.get_text()).replace('$','').replace(',','')))

tn16=pd.DataFrame({'Title':titles, 'Budget':budgets, 'Domestic_Gross':d_grosses})

In [41]:
url='http://www.the-numbers.com/movie/budgets/all/1601'
titles=[]
budgets=[]
d_grosses=[]

table1=read_tn_url(url).find_all('table')[0]
m_list=table1.find_all('td')[2::6]
budget=table1.find_all('td')[3::6]
d_gross=table1.find_all('td')[4::6]

for m in m_list:
    titles.append(str(m.find('a').get_text()))
for b in budget:
    budgets.append(int(str(b.get_text()).replace('$','').replace(',','')))
for d in d_gross:
    d_grosses.append(int(str(d.get_text()).replace('$','').replace(',','')))

tn17=pd.DataFrame({'Title':titles, 'Budget':budgets, 'Domestic_Gross':d_grosses})

In [42]:
url='http://www.the-numbers.com/movie/budgets/all/1701'
titles=[]
budgets=[]
d_grosses=[]

table1=read_tn_url(url).find_all('table')[0]
m_list=table1.find_all('td')[2::6]
budget=table1.find_all('td')[3::6]
d_gross=table1.find_all('td')[4::6]

for m in m_list:
    titles.append(str(m.find('a').get_text()))
for b in budget:
    budgets.append(int(str(b.get_text()).replace('$','').replace(',','')))
for d in d_gross:
    d_grosses.append(int(str(d.get_text()).replace('$','').replace(',','')))

tn18=pd.DataFrame({'Title':titles, 'Budget':budgets, 'Domestic_Gross':d_grosses})

In [43]:
url='http://www.the-numbers.com/movie/budgets/all/1801'
titles=[]
budgets=[]
d_grosses=[]

table1=read_tn_url(url).find_all('table')[0]
m_list=table1.find_all('td')[2::6]
budget=table1.find_all('td')[3::6]
d_gross=table1.find_all('td')[4::6]

for m in m_list:
    titles.append(str(m.find('a').get_text()))
for b in budget:
    budgets.append(int(str(b.get_text()).replace('$','').replace(',','')))
for d in d_gross:
    d_grosses.append(int(str(d.get_text()).replace('$','').replace(',','')))

tn19=pd.DataFrame({'Title':titles, 'Budget':budgets, 'Domestic_Gross':d_grosses})

In [44]:
url='http://www.the-numbers.com/movie/budgets/all/1901'
titles=[]
budgets=[]
d_grosses=[]

table1=read_tn_url(url).find_all('table')[0]
m_list=table1.find_all('td')[2::6]
budget=table1.find_all('td')[3::6]
d_gross=table1.find_all('td')[4::6]

for m in m_list:
    titles.append(str(m.find('a').get_text()))
for b in budget:
    budgets.append(int(str(b.get_text()).replace('$','').replace(',','')))
for d in d_gross:
    d_grosses.append(int(str(d.get_text()).replace('$','').replace(',','')))

tn20=pd.DataFrame({'Title':titles, 'Budget':budgets, 'Domestic_Gross':d_grosses})

In [45]:
url='http://www.the-numbers.com/movie/budgets/all/2001'
titles=[]
budgets=[]
d_grosses=[]

table1=read_tn_url(url).find_all('table')[0]
m_list=table1.find_all('td')[2::6]
budget=table1.find_all('td')[3::6]
d_gross=table1.find_all('td')[4::6]

for m in m_list:
    titles.append(str(m.find('a').get_text()))
for b in budget:
    budgets.append(int(str(b.get_text()).replace('$','').replace(',','')))
for d in d_gross:
    d_grosses.append(int(str(d.get_text()).replace('$','').replace(',','')))

tn21=pd.DataFrame({'Title':titles, 'Budget':budgets, 'Domestic_Gross':d_grosses})

In [46]:
url='http://www.the-numbers.com/movie/budgets/all/2101'
titles=[]
budgets=[]
d_grosses=[]

table1=read_tn_url(url).find_all('table')[0]
m_list=table1.find_all('td')[2::6]
budget=table1.find_all('td')[3::6]
d_gross=table1.find_all('td')[4::6]

for m in m_list:
    titles.append(str(m.find('a').get_text()))
for b in budget:
    budgets.append(int(str(b.get_text()).replace('$','').replace(',','')))
for d in d_gross:
    d_grosses.append(int(str(d.get_text()).replace('$','').replace(',','')))

tn22=pd.DataFrame({'Title':titles, 'Budget':budgets, 'Domestic_Gross':d_grosses})

In [47]:
url='http://www.the-numbers.com/movie/budgets/all/2201'
titles=[]
budgets=[]
d_grosses=[]

table1=read_tn_url(url).find_all('table')[0]
m_list=table1.find_all('td')[2::6]
budget=table1.find_all('td')[3::6]
d_gross=table1.find_all('td')[4::6]

for m in m_list:
    titles.append(str(m.find('a').get_text()))
for b in budget:
    budgets.append(int(str(b.get_text()).replace('$','').replace(',','')))
for d in d_gross:
    d_grosses.append(int(str(d.get_text()).replace('$','').replace(',','')))

tn23=pd.DataFrame({'Title':titles, 'Budget':budgets, 'Domestic_Gross':d_grosses})

In [48]:
url='http://www.the-numbers.com/movie/budgets/all/2301'
titles=[]
budgets=[]
d_grosses=[]

table1=read_tn_url(url).find_all('table')[0]
m_list=table1.find_all('td')[2::6]
budget=table1.find_all('td')[3::6]
d_gross=table1.find_all('td')[4::6]

for m in m_list:
    titles.append(str(m.find('a').get_text()))
for b in budget:
    budgets.append(int(str(b.get_text()).replace('$','').replace(',','')))
for d in d_gross:
    d_grosses.append(int(str(d.get_text()).replace('$','').replace(',','')))

tn24=pd.DataFrame({'Title':titles, 'Budget':budgets, 'Domestic_Gross':d_grosses})

In [49]:
url='http://www.the-numbers.com/movie/budgets/all/2401'
titles=[]
budgets=[]
d_grosses=[]

table1=read_tn_url(url).find_all('table')[0]
m_list=table1.find_all('td')[2::6]
budget=table1.find_all('td')[3::6]
d_gross=table1.find_all('td')[4::6]

for m in m_list:
    titles.append(str(m.find('a').get_text()))
for b in budget:
    budgets.append(int(str(b.get_text()).replace('$','').replace(',','')))
for d in d_gross:
    d_grosses.append(int(str(d.get_text()).replace('$','').replace(',','')))

tn25=pd.DataFrame({'Title':titles, 'Budget':budgets, 'Domestic_Gross':d_grosses})

In [50]:
url='http://www.the-numbers.com/movie/budgets/all/2501'
titles=[]
budgets=[]
d_grosses=[]

table1=read_tn_url(url).find_all('table')[0]
m_list=table1.find_all('td')[2::6]
budget=table1.find_all('td')[3::6]
d_gross=table1.find_all('td')[4::6]

for m in m_list:
    titles.append(str(m.find('a').get_text()))
for b in budget:
    budgets.append(int(str(b.get_text()).replace('$','').replace(',','')))
for d in d_gross:
    d_grosses.append(int(str(d.get_text()).replace('$','').replace(',','')))

tn26=pd.DataFrame({'Title':titles, 'Budget':budgets, 'Domestic_Gross':d_grosses})

In [51]:
url='http://www.the-numbers.com/movie/budgets/all/2601'
titles=[]
budgets=[]
d_grosses=[]

table1=read_tn_url(url).find_all('table')[0]
m_list=table1.find_all('td')[2::6]
budget=table1.find_all('td')[3::6]
d_gross=table1.find_all('td')[4::6]

for m in m_list:
    titles.append(str(m.find('a').get_text()))
for b in budget:
    budgets.append(int(str(b.get_text()).replace('$','').replace(',','')))
for d in d_gross:
    d_grosses.append(int(str(d.get_text()).replace('$','').replace(',','')))

tn27=pd.DataFrame({'Title':titles, 'Budget':budgets, 'Domestic_Gross':d_grosses})

In [52]:
url='http://www.the-numbers.com/movie/budgets/all/2701'
titles=[]
budgets=[]
d_grosses=[]

table1=read_tn_url(url).find_all('table')[0]
m_list=table1.find_all('td')[2::6]
budget=table1.find_all('td')[3::6]
d_gross=table1.find_all('td')[4::6]

for m in m_list:
    titles.append(str(m.find('a').get_text()))
for b in budget:
    budgets.append(int(str(b.get_text()).replace('$','').replace(',','')))
for d in d_gross:
    d_grosses.append(int(str(d.get_text()).replace('$','').replace(',','')))

tn28=pd.DataFrame({'Title':titles, 'Budget':budgets, 'Domestic_Gross':d_grosses})

In [53]:
url='http://www.the-numbers.com/movie/budgets/all/2801'
titles=[]
budgets=[]
d_grosses=[]

table1=read_tn_url(url).find_all('table')[0]
m_list=table1.find_all('td')[2::6]
budget=table1.find_all('td')[3::6]
d_gross=table1.find_all('td')[4::6]

for m in m_list:
    titles.append(str(m.find('a').get_text()))
for b in budget:
    budgets.append(int(str(b.get_text()).replace('$','').replace(',','')))
for d in d_gross:
    d_grosses.append(int(str(d.get_text()).replace('$','').replace(',','')))

tn29=pd.DataFrame({'Title':titles, 'Budget':budgets, 'Domestic_Gross':d_grosses})

In [54]:
url='http://www.the-numbers.com/movie/budgets/all/2901'
titles=[]
budgets=[]
d_grosses=[]

table1=read_tn_url(url).find_all('table')[0]
m_list=table1.find_all('td')[2::6]
budget=table1.find_all('td')[3::6]
d_gross=table1.find_all('td')[4::6]

for m in m_list:
    titles.append(str(m.find('a').get_text()))
for b in budget:
    budgets.append(int(str(b.get_text()).replace('$','').replace(',','')))
for d in d_gross:
    d_grosses.append(int(str(d.get_text()).replace('$','').replace(',','')))

tn30=pd.DataFrame({'Title':titles, 'Budget':budgets, 'Domestic_Gross':d_grosses})

In [55]:
final_tn = pd.concat([tn1, tn2, tn3, tn4, tn5, tn6, tn7, tn8, tn9, tn10, tn11, tn12, tn13, tn14, tn15,
                     tn16, tn17, tn18, tn19, tn20, tn21, tn22, tn23, tn24, tn25, tn26, tn27, tn28, tn29, tn30])

In [56]:
final_tn

                                          Title     Budget  Domestic_Gross
0                             Avengers: Endgame  400000000       858373000
1   Pirates of the Caribbean: On Stranger Tides  379000000       241071802
2                       Avengers: Age of Ultron  365000000       459005868
3          Star Wars Ep. VII: The Force Awakens  306000000       936662225
4                        Avengers: Infinity War  300000000       678815482
..                                          ...        ...             ...
95                                       Wolves   18000000               0
96                              Day of the Dead   18000000               0
97                                   The Prince   18000000               0
98                                     Forsaken   18000000               0
99                                    Red Sonja   17900000         6905861

[3000 rows x 3 columns]

In [66]:
franchises=pd.merge(bom_df,imdb_movies,how='inner',on=['Title'])
franchises=pd.merge(franchises,final_tn,how='inner',on=['Title'])
franchises.dropna(inplace=True)
franchises
#i realized that my box office mojo data was limiting the amount of data points i could use

,Title,Distributor,Runtime,Rating,Action,Adventure,Biography,Comedy,Crime,Documentary,...,Horror,Music,Mystery,Romance,Sport,Thriller,War,Western,Budget,Domestic_Gross
0,Avengers: Endgame,Walt Disney Studios Motion Pictures,181.0,PG-13,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,400000000,858373000
1,Avengers: Infinity War,Walt Disney Studios Motion Pictures,149.0,PG-13,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,300000000,678815482
2,The Avengers,Walt Disney Studios Motion Pictures,143.0,PG-13,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,225000000,623357910
3,The Avengers,Walt Disney Studios Motion Pictures,143.0,PG-13,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,60000000,23385416
4,Avengers: Age of Ultron,Walt Disney Studios Motion Pictures,141.0,PG-13,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,365000000,459005868
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
407,The World's End,Focus Features,109.0,R,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,20000000,26004851
408,Hot Tub Time Machine,Metro-Goldwyn-Mayer (MGM),101.0,R,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,36000000,50269859
409,Tomb Raider,Warner Bros.,119.0,PG-13,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,90000000,58250803
410,Machete Kills,Open Road Films (II),107.0,R,1,0,0,0,1,0,...,0,0,0,0,0,1,0,0,20000000,8008161
411,Mechanic: Resurrection,Lionsgat,98.0,R,1,1,0,0,1,0,...,0,0,0,0,0,0,0,0,40000000,21218403

In [63]:
movies=pd.merge(final_tn,imdb_movies,how='inner',on=['Title'])
movies.dropna(inplace=True)
movies
#had more data points, but not enough features for any meaningful analysis

,Title,Budget,Domestic_Gross,Action,Adventure,Biography,Comedy,Crime,Documentary,Drama,Family,History,Horror,Music,Mystery,Romance,Sport,Thriller,War,Western
0,Avengers: Endgame,400000000,858373000,1,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
1,Pirates of the Caribbean: On Stranger Tides,379000000,241071802,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,Avengers: Age of Ultron,365000000,459005868,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,Avengers: Infinity War,300000000,678815482,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,Justice League,300000000,229024295,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1721,Ed Wood,18000000,5828466,0,0,1,1,0,0,1,0,0,0,0,0,0,0,0,0,0
1722,RocknRolla,18000000,5700626,1,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0
1723,Midnight Special,18000000,3712282,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0
1724,Miss Sloane,18000000,3500605,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
1725,Day of the Dead,18000000,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0

In [64]:
movies.to_csv('movies.csv')

In [67]:
franchises.to_csv('franchises.csv')